@font-face {
    font-family: "Whitney";
    src: url("/fonts/WhitneyHTF-Book.otf");
}
@font-face {
    font-family: "Whitney";
    src: url("/fonts/WhitneyHTF-SemiBold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "WhitneyNumeric";
    src: url("/fonts/WhitneyNumeric-Book.otf");
}
@font-face {
    font-family: "WhitneyNumeric";
    src: url("/fonts/WhitneyNumeric-SemiBold.otf");
    font-weight: 700;
}