/*  -----------------------------------------------------------------------------
	::  CONSTANTS
	----------------------------------------------------------------------------- */

$font-ratio: 1.22;
$row-padding: ms(4, 1%, 1.618);
$col-padding: ms(1, 1%, 1.618);
// $row-padding: 6%;
// $col-padding: 2%;

/*  -----------------------------------------------------------------------------
	::  FOUNDATION OVERRIDES
	----------------------------------------------------------------------------- */

//	Initialize Typography
html, *{
	//largest for large monitors
	font-size: 20px;
	line-height: 1.4;
	
	//set root font sizes between breakpoints
	@include responsive-type(
		22 2800,	
		18 1900,
		18 1600,
		17 1420,
		16 1260
		14 960
	);

	@include proportional-type($font-ratio);	
}

p{
	color: #333;
}

// 	Initialize Grid
.row{
	padding: 0px $row-padding;
	@media (max-width: 767px) {
		padding: 0 $row-padding / 2;
	}		
}

.column, columns{
	padding: 0px $col-padding !important;
	@media (max-width: 768px) {
		margin-bottom: 2rem;
	}
}

// Elements
table{
	width: 100%;
	border-radius: none;
	border: none;
	background: none;
	border-collapse: collapse;

	.emphasis{
		font-weight: 600;
	}

	thead tr, tbody tr{
		background: none;
		td{
			line-height: inherit;
			&.number{
				font-family: "WhitneyNumeric";
				font-weight: 400;
			}
		}		
	}

	thead{
		background: none;
		tr{
			th{
				padding: 0 0 .5em;
			}		

		}		
	}

	tbody{
		tr{
			background: none;
			&:nth-child(2n){
				background: none;
			}
			td{
				padding: 0;
			}
		}
	}	

}

.table-wrapper{
	border: none !important;
	*{
		border: none;
	}
	.pinned{
		background: none;
		border: none;
		border-right: 1px solid #eee;
	}
	.scrollable{
		border: none;
		margin-left: 35%; //temp margin -- this needs to be set in the responsive tables script to the calc'd width of the pinned column
	}
}

.panel{
	border: none;
	background: #f9f9f9;
	padding: .5rem;
	margin: 0;
	
	&.blue{
		background: #ecf1f3;
	}
}

.centered{
	text-align: center;
}


/*  -----------------------------------------------------------------------------
	::  PROJECT CLASSES
	----------------------------------------------------------------------------- */

//	Elements
#nav{
	@extend .row;
	position: fixed;
	z-index: 1;
	height: 2rem;
	background: rgba(250,250,250,.97);
	border-bottom: 1px solid #eee;
	ul{
		li{
			display: inline;
			a{
				display: inline-block;
				line-height: 2rem;
				height: 2rem;
				color: #666;
				padding: 0 $col-padding;
				&.active{
					color: #000;
				}
				&:hover{
					color: #000;
				}
			}
		}
	}
}

header, section{
	@extend .row;
	padding-top: 2rem;
}

header{
	padding-top: 4rem;
	h1{
		margin-bottom: 0;
	}
	h6{
		font-weight: 400;
		color: #666;
	}
	div{
		margin-bottom: 1rem;
	}
}

section{
	&:after{
		display: block;
		margin: 0 $col-padding;
		padding-top: 1rem;
		border-bottom: 1px solid #eee;
	}
}

//	Project Classes
.number{
	text-align: right;
	&.negative{
		//font-weight: 600;
	}
	&:last-child{
		span{
			margin: 0;
		}	
	}
}

.graphic{
	margin-bottom: 1rem;
	.footnote{
		font-size: ms(-1, 1rem, $font-ratio);
		color: #666;
		&.panel{
			padding: .25rem .5rem;
		}
	}
}

.sidebar{
	h5{
		font-size: 1rem;
	}
	p{
		font-size: ms(-1, 1rem, $font-ratio) !important;
	}
	margin-bottom: 1rem;
}

.scalable{
	//Set container's font-size space via a modular scale of HTML font-size
	font-size: 1rem;
	&.reduce-1{
		font-size: ms(-1, 1rem, $font-ratio);
	}
	&.reduce-2{
		font-size: ms(-2, 1rem, $font-ratio);
	}
	&.reduce-3{
		font-size: ms(-3, 1rem, $font-ratio);
	}

	//Set all font-sizes relative to container size. 
	//Other elements should override this with EM values relative to the .scalable parent (ex large table headers at 1.5em)
	*{
		font-size: 1em !important;
	}


	//Set padding relative to the local font-size instead of HTML font-size
	.panel{
		padding: .5em;
	}

	//Set footnotes to be one scale interval smaller than table content else
	.footnote{
		font-size: ms(-1, 1em, $font-ratio) !important;
	}
}




