/*  -----------------------------------------------------------------------------
	::  Responsive tables	
	----------------------------------------------------------------------------- */

//Match font ratio to JS font ratio
$font-ratio: 1.21;
$table-border: #fff;

//Set box shadow dependent on scroll state
$s-distance: .5em;
$neg-s-distance: $s-distance * -1;
$s-opacity: 0.16;

$s-top: 	rgba(black, $s-opacity) 0px $s-distance $s-distance $neg-s-distance inset;
$s-right: 	rgba(black, $s-opacity) $neg-s-distance 0px $s-distance  $neg-s-distance inset;
$s-bottom: 	rgba(black, $s-opacity) 0px $neg-s-distance $s-distance  $neg-s-distance inset;
$s-left: 	rgba(black, $s-opacity) $s-distance 0px $s-distance $neg-s-distance inset;


.responsiveTable{
	//Set container's font-size space via a modular scale of HTML font-size
	font-size: 1rem;
	&.reduce-1{
		font-size: ms(-1, 1rem, $font-ratio);
	}
	&.reduce-2{
		font-size: ms(-2, 1rem, $font-ratio);
	}
	&.reduce-3{
		font-size: ms(-3, 1rem, $font-ratio);
	}
	 
	// Set all internal content font-sizes relative to container size. 
	// Internal elements should override this with EM values relative
	// to the .scalable parent (ex: table headers set at 2em)
	*{
		font-size: 1em;
	}
	
	table{
		white-space: nowrap;
		position: relative;
	}

	//Set footnotes to be one scale interval smaller than default table content size
	.footnote{
		font-size: ms(-1, 1em, $font-ratio);
	}

	//Set padding relative to the local font-size instead of HTML REM font-size
	.panel{
		padding: .5em;
		//Responsive tables have padding on the pinned and scrollable containers instead
		&.split{
			padding: 0;
			table{
				border: .5em solid rgba(white, .0); //invisible border hack
			}
		}
	}

	//Split tables
	.split{
		.pinned, .scrollable{
			th{
				padding: 0;
			}
			.header-wrapper{
				overflow: hidden;
				border-bottom: 1px solid $table-border;
			}
			.body-wrapper{
				//Temp maxheight -- this should move to JS and be an argument
				max-height: 30rem;
			}
		}
		
		.pinned{
			position: absolute;	
			z-index: 1;
			padding: 0;
			border-right: 1px solid $table-border;
			table div{
				margin: 0 2em 0 0;
			}
			.body-wrapper{
				overflow: hidden;
			}
		}

		.scrollable{
			padding: 0;
			overflow: visible;
			table div{
				margin: 0 0 0 2em;
			}
			.body-wrapper{
				overflow:scroll;
			}
		}
		
		//Set box shadows dependent on scroll state
		&.content-hidden-bottom.content-hidden-right{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-right);
				}
				.body-wrapper{
					@include box-shadow($s-bottom, $s-right);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-bottom);
				}
			} 
		}
		&.content-hidden-bottom.content-hidden-left{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-left);
				}
				.body-wrapper{
					@include box-shadow($s-bottom, $s-left);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-bottom);
				}
			} 
		}
		&.content-hidden-bottom.content-hidden-right.content-hidden-left{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-right, $s-left);
				}
				.body-wrapper{
					@include box-shadow($s-bottom, $s-right, $s-left);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-bottom);
				}
			} 
		}
		&.content-hidden-bottom.content-hidden-top.content-hidden-right{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-right);
				}
				.body-wrapper{
					@include box-shadow($s-bottom, $s-top, $s-right);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-bottom, $s-top);
				}
			} 			
		}
		&.content-hidden-bottom.content-hidden-top.content-hidden-left{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-left);
				}
				.body-wrapper{
					@include box-shadow($s-bottom, $s-top, $s-left);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-bottom, $s-top);
				}
			} 
		}
		&.content-hidden-bottom.content-hidden-top.content-hidden-right.content-hidden-left{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-right, $s-left);
				}
				.body-wrapper{
					@include box-shadow($s-bottom, $s-top, $s-right, $s-left);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-bottom, $s-top);
				}
			} 			
		}
		&.content-hidden-top.content-hidden-right{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-right);
				}
				.body-wrapper{
					@include box-shadow($s-top, $s-right);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-top);
				}
			} 
		}
		&.content-hidden-top.content-hidden-left{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-left);
				}
				.body-wrapper{
					@include box-shadow($s-top, $s-left);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-top);
				}
			} 			
		}
		&.content-hidden-top.content-hidden-right.content-hidden-left{
			.scrollable{
				.header-wrapper{
					@include box-shadow($s-right, $s-left);
				}
				.body-wrapper{
					@include box-shadow($s-top, $s-right, $s-left);
				}
			}
			.pinned{
				.body-wrapper{
					@include box-shadow($s-top);
				}
			} 			
		}
	}
}