/*  -----------------------------------------------------------------------------
	::  Responsive tables	
	----------------------------------------------------------------------------- */



.scalable{
	//Set container's font-size space via a modular scale of HTML font-size
	font-size: 1rem;
	&.reduce-1{
		font-size: ms(-1, 1rem, $font-ratio);
	}
	&.reduce-2{
		font-size: ms(-2, 1rem, $font-ratio);
	}
	&.reduce-3{
		font-size: ms(-3, 1rem, $font-ratio);
	}

	//Set all internal content font-sizes relative to container size. 
	//Internal elements should override this with EM values relative to the .scalable parent (ex large table headers at 1.5em)
	*{
		font-size: 1em !important;
	}

	//Set footnotes to be one scale interval smaller than table content else
	.footnote{
		font-size: ms(-1, 1em, $font-ratio) !important;
		border-top: 1px solid #fff;
	}

	//Set padding relative to the local font-size instead of HTML font-size
	.panel{
		padding: .5em;
		//Responsive tables have padding on the pinned and scrollable containers instead
		&.split{
			padding: 0;
			.pinned{
				padding: .5em 0 .5em .5em;
			}
			.scrollable{
				padding: .5em .5em .5em 0em;
				table{
					border-right: .5em solid rgba(black, .0); //invisible border hack
				}
			}
		}
	}

	table{
		white-space: nowrap;
	}

	&.block{
		span{
			//display: block;
		}
	}	


	//Split tables
	.split{
		white-space: nowrap;

		table{
			width: auto;
			margin-bottom: 0;
			span{
				//temp padding for table width calc
				padding-left: 2rem;
			}
		}


		.pinned{
			position: absolute;	
			z-index: 1;
			span{
				padding: 0 2em 0 0;
			}
		}

		.scrollable{
			overflow: scroll;
			overflow-y: hidden;
			@include transition-property(box-shadow);
  			@include transition-duration(.3s); 

			&.content-hidden-right{
				@include box-shadow(rgba(black, 0.15) -7px 0px 6px -3px inset);
			}

			&.content-hidden-left{
				@include box-shadow(rgba(black, 0.15) 7px 0px 6px -3px inset);
			}

			&.content-hidden-right.content-hidden-left{
				@include box-shadow(rgba(0, 0, 0, 0.1) -6px 0px 5px -3px inset, rgba(0, 0, 0, 0.1) 6px 0px 5px -3px inset);
			}

			table{
				thead{
				}
				tbody{
				}
			}

			span{
				padding: 0 0 0 2em;
			}
		}

	}
}


#vertscroll{

	background: black;

	$table-border: #fff;

	.split{

		> div{
			> div{
				padding: .5em;
			}
			th{
					padding: 0;
			}
			.header-wrapper{
				overflow: hidden;
				border-bottom: 1px solid $table-border;
			}
			.body-wrapper{
				max-height: 30rem;
			}
		}
		
		.pinned{
			padding: 0;
			border-right: 1px solid $table-border;
			.header-wrapper{
				// @include box-shadow(rgba(black, 0.15) 6px 6px 6px -4px);
			}
			.body-wrapper{
				overflow: hidden;				
			}
		}

		.scrollable{
			//JS
			margin-left: 166px;

			padding: 0;
			overflow: visible;

			.header-wrapper{
				overflow: hidden;				
			}
			.body-wrapper{
				@include box-shadow(rgba(black, 0.15) 0px 0px 6px 0px inset);
				overflow:scroll;
			}
		}

	}


	//Remove this later -- just to make the header nice.. should be classes on a page layout
	header{
		h1{
			font-weight: 400;
		}
		h6{
			font-weight: 400;
			margin-top: 1rem;
			line-height: 1.35;
		}
		&:after{
			border-bottom: 1px solid #ddd;
			display: block;
			// margin: 0 $col-padding;
			padding-top: 2rem;
		}
	}


}