//Declared Constants
$font-base-size: 1rem;
$font-ratio: 1.22;
$row-padding: 6%;
$col-padding: 1%;

//Imports

//Initialize Typography
@include initialize-type($font-base-size, $font-ratio);

//Initialize Grid
.row{
	padding: 0px $row-padding;
	@media (max-width: 767px) {
		padding: 0 $row-padding/2;
	}		
}

.columns{
	padding: 0px $col-padding !important;
}

.panel{
	border: none;
	background: #f9f9f9;
	padding: .5rem;
	margin: 0;
	&.blue{
		background: #ecf1f3;
	}
}

table{
	width: 100%;
	border-radius: none;
	border: none;
	background: none;
	border-collapse: collapse;

	td, th{
		font-size: 1em;
	}

	.emphasis{
		font-weight: 600;
	}

	thead tr, tbody tr{
		background: none;
		td{
			line-height: inherit;
			&.number{
				font-family: "WhitneyNumeric";
				font-weight: 400;
			}
		}		
	}

	thead{
		background: none;
		tr{
			th{
				padding: 0 0 1rem;
			}		

		}		
	}

	tbody{
		tr{
			background: none;
			&:nth-child(2n){
				background: none;
			}
			td{
				padding: 0;
			}
		}
	}	

}

//Project Classes
.number{
	text-align: right;
	&.negative{
		//font-weight: 600;
	}
	&:last-child{
		span{
			margin: 0;
		}	
	}
}

.graphic{
	.footnote{
		font-size: ms(-1, $font-base-size, $font-ratio);
		margin-top: .5rem;
		color: #666;
	}
}

p{
	color: #333;
}

header, section{
	@extend .row;
	padding-top: 2rem;
}

section{
	&:after{
		display: block;
		margin: 0 $col-padding;
		padding-top: 2rem;
		border-bottom: 1px solid #eee;
	}
}

.sidebar{
	h5{
		font-size: ms(1, $font-base-size, $font-ratio);
	}
	p{
		font-size: ms(-1, $font-base-size, $font-ratio) !important;
	}
	*:last-child{
		margin-bottom: 0;
	}
}

.columns{
	@media (max-width: 768px) {
		margin-bottom: 2rem;
	}
}

.table-wrapper{
	border: none !important;
	*{
		border: none;
	}
	.pinned{
		background: none;
		border: none;
		border-right: 1px solid #eee;
	}
	.scrollable{
		border: none;
		margin-left: 35%; //temp margin -- this needs to be set in the responsive tables script to the calc'd width of the pinned column
	}
}

header{
	padding-top: 2rem;
	h1{
		margin-bottom: 0;
	}
	h6{
		font-weight: 400;
		color: #666;
	}
}


