<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Responsive Tables</title>

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/stylesheets/app.css">

	<script src="/javascripts/foundation/modernizr.foundation.js"></script>

</head>
<body id="layout">

	<div id="wrapper">

		<nav id="nav">
			<ul>
				<li><a href="/">Multitable</a></li>
				<li><a class="active" href="/pages/layout">3/9 Asymmetry</a></li>
				<li><a href="/pages/layout2">2/8/2 Symmetry</a></li>
			</ul>
		</nav>


		<header>
			<div class="eight columns centered">
				<h1>Attempt to Visualize This as a Real&nbsp;Dashboard</h1>
				<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quod illo minus optio labore iusto aut excepturi voluptas a nobis qui reiciendis rem quas ratione magnam consequatur magni expedita doloribus unde accusantium repudiandae cupiditate provident laudantium obcaecati similique dicta sunt.</h6>
			</div>
		</header>

		<!-- 9 | 3 -->
		<section>
			<div class="three column sidebar">
				<h5>Sidebar Title</h5>
				<p>The grid allows for nesting down as far as yo*u'd like, though at a certain *point it will get absurd. You can use this nesting to create quite complex layouts, as well as some other tricks like form layouts or visual elements.</p>
				<p>The grid allows for nesting down as far as yo*u'd like, though at a certain *point it will get absurd. You can use this nesting to create quite complex layouts, as well as some other tricks like form layouts or visual elements.</p>	
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cum officiis. Assumenda fuga quae earum laudantium nemo sunt veritatis quas aperiam asperiores voluptate. Hic dolores rerum accusamus maiores illo perferendis vitae eos iste a!</p>			
			</div>
			<div class="nine column scalable graphic">
				<div class="blue panel">
					<table class="responsive goog">
						<thead>
							<tr>
								<th class="text">Company Name</th>
								<th class="number">Customers</th>
								<th class="number">Gross Revenue</th>
								<th class="number">Net Revenue</th>
								<th class="number">Customers</th>
								<th class="number">Gross Revenue</th>
								<th class="number">Net Revenue</th>								
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text">Oracle</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">IBM</td>
								<td class="number">8,452</td>
								<td class="number">$124,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Microstrategy</td>
								<td class="number">8,452</td>
								<td class="number">$52,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Tableau</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$43,223</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Qlikview</td>
								<td class="number">8,452</td>
								<td class="number">$63,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Birst</td>
								<td class="number">234,521</td>
								<td class="number">$285,234,105</td>
								<td class="number negative">-$53,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Good Data</td>
								<td class="number">14,453</td>
								<td class="number">$293,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Oracle</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">IBM</td>
								<td class="number">8,452</td>
								<td class="number">$124,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Microstrategy</td>
								<td class="number">8,452</td>
								<td class="number">$52,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Tableau</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$43,223</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Qlikview</td>
								<td class="number">8,452</td>
								<td class="number">$63,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Birst</td>
								<td class="number">234,521</td>
								<td class="number">$285,234,105</td>
								<td class="number negative">-$53,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Good Data</td>
								<td class="number">14,453</td>
								<td class="number">$293,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Oracle</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">IBM</td>
								<td class="number">8,452</td>
								<td class="number">$124,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Microstrategy</td>
								<td class="number">8,452</td>
								<td class="number">$52,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Tableau</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$43,223</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Qlikview</td>
								<td class="number">8,452</td>
								<td class="number">$63,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Birst</td>
								<td class="number">234,521</td>
								<td class="number">$285,234,105</td>
								<td class="number negative">-$53,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Good Data</td>
								<td class="number">14,453</td>
								<td class="number">$293,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Oracle</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">IBM</td>
								<td class="number">8,452</td>
								<td class="number">$124,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Microstrategy</td>
								<td class="number">8,452</td>
								<td class="number">$52,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Tableau</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$43,223</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Qlikview</td>
								<td class="number">8,452</td>
								<td class="number">$63,221,184</td>
								<td class="number">$31,665</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Birst</td>
								<td class="number">234,521</td>
								<td class="number">$285,234,105</td>
								<td class="number negative">-$53,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>
							<tr>
								<td class="text">Good Data</td>
								<td class="number">14,453</td>
								<td class="number">$293,234,105</td>
								<td class="number negative">-$123,243</td>
								<td class="number">14,453</td>
								<td class="number">$234,234,105</td>
								<td class="number negative">-$123,243</td>
							</tr>							
						</tbody>
					</table>
				</div>
				<div class="footnote panel">The grid allows for nesting down as far as yo*u'd like, though at a certain *point it will get absurd. You can use this nesting to create quite complex layouts, as well as some other tricks like form layouts or visual elements.</div>
			</div>

		</section>

	</div>

	<!-- Included JS Files (Uncompressed) -->
	<span id="scripts">
		<script src="/javascripts/foundation/jquery.js"></script>
		<script src="/javascripts/foundation/jquery.cookie.js"></script>
		<script src="/javascripts/foundation/jquery.event.move.js"></script>
		<script src="/javascripts/foundation/jquery.event.swipe.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.accordion.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.alerts.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.buttons.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.clearing.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.forms.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.joyride.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.magellan.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>	
		<script src="/javascripts/foundation/jquery.foundation.navigation.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.orbit.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.reveal.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.tabs.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.tooltips.js"></script>
		<script src="/javascripts/foundation/jquery.foundation.topbar.js"></script>	
		<script src="/javascripts/foundation/jquery.placeholder.js"></script>
		<script src="/javascripts/responsive-tables.js"></script>
		

		<!-- Application Javascript, safe to override -->
		<script src="/javascripts/foundation/app.js"></script>
		<script src="/javascripts/functions.js"></script>
		<script src="/javascripts/jquery.sparkline.min.js"></script>
		<script src="/javascripts/main.js"></script>
	</span>

</body>
</html>
